### 1. replace
* replace( to_replace=비교값, value=치환값)
* nan값은 np.nan으로 비교

In [4]:
import pandas as pd

In [5]:
#데이터셋 로드
df = pd.read_csv('data/nan_test.csv')
df

   n1  n2  n3  nan_1  nan_2
0   0   1   2    1.7    NaN
1   3   4   2    NaN    NaN
2   3   4   8    2.4    NaN
3   9  10  11    NaN    NaN
4  12  10  14    1.2    NaN
5  15  16  17    NaN    1.0

In [6]:
import numpy as np
df['nan_1'] == np.nan

0    False
1    False
2    False
3    False
4    False
5    False
Name: nan_1, dtype: bool

In [7]:
df.replace(to_replace=np.nan, value=3000)

   n1  n2  n3   nan_1   nan_2
0   0   1   2     1.7  3000.0
1   3   4   2  3000.0  3000.0
2   3   4   8     2.4  3000.0
3   9  10  11  3000.0  3000.0
4  12  10  14     1.2  3000.0
5  15  16  17  3000.0     1.0

In [16]:
df = df.replace(to_replace = {'nan_2' : np.nan}, value = 'nan2변경')
df
#값 변경할때 inplace하거나 저장해서 출력

   n1  n2  n3    nan_1   nan_2
0   0   1   2      1.7  nan2변경
1   3   4   2  12345.0  nan2변경
2   3   4   8      2.4  nan2변경
3   9  10  11  12345.0  nan2변경
4  12  10  14      1.2  nan2변경
5  15  16  17  12345.0     1.0

In [17]:
df.replace( {'nan_1' : np.nan},12345, inplace = True)
df

   n1  n2  n3    nan_1   nan_2
0   0   1   2      1.7  nan2변경
1   3   4   2  12345.0  nan2변경
2   3   4   8      2.4  nan2변경
3   9  10  11  12345.0  nan2변경
4  12  10  14      1.2  nan2변경
5  15  16  17  12345.0     1.0

### 특정 데이터 비교

In [19]:
df = pd.read_csv('data/bicycle.csv')
df.head()

,자전거번호,대여일시,대여소번호,대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,나이
0,SPB-23220,2019-11-01 8:48,646,장한평역 1번출구 (국민은행앞),3.0,2019-11-01 9:01,3,중랑센터,7.0,12.0,1100.0,50
1,SPB-16216,2019-11-04 8:38,646,장한평역 1번출구 (국민은행앞),2.0,2019-11-04 8:56,3,중랑센터,2.0,7.0,1420.0,31
2,SPB-21097,2019-11-04 8:46,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-04 8:57,3,중랑센터,7.0,10.0,NaN,32
3,SPB-22292,2019-11-05 8:34,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-05 8:45,3,중랑센터,NaN,10.0,1380.0,21
4,SPB-07935,2019-11-05 12:29,512,뚝섬역 1번 출구 옆,11.0,2019-11-05 12:39,3,중랑센터,7.0,10.0,1650.0,120

In [20]:
df['대여소번호'] == 646

0       True
1       True
2       True
3       True
4      False
       ...
418    False
419    False
420    False
421    False
422    False
Name: 대여소번호, Length: 423, dtype: bool

In [21]:
df[df['대여소번호'] == 646]

,자전거번호,대여일시,대여소번호,대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,나이
0,SPB-23220,2019-11-01 8:48,646,장한평역 1번출구 (국민은행앞),3.0,2019-11-01 9:01,3,중랑센터,7.0,12.0,1100.0,50
1,SPB-16216,2019-11-04 8:38,646,장한평역 1번출구 (국민은행앞),2.0,2019-11-04 8:56,3,중랑센터,2.0,7.0,1420.0,31
2,SPB-21097,2019-11-04 8:46,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-04 8:57,3,중랑센터,7.0,10.0,NaN,32
3,SPB-22292,2019-11-05 8:34,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-05 8:45,3,중랑센터,NaN,10.0,1380.0,21
5,SPB-18401,2019-11-06 8:52,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-06 9:09,3,중랑센터,7.0,11.0,1350.0,30
6,SPB-18350,2019-11-06 8:35,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-06 9:10,3,중랑센터,2.0,9.0,1390.0,26
8,SPB-20220,2019-11-11 8:35,646,장한평역 1번출구 (국민은행앞),2.0,2019-11-11 8:42,3,중랑센터,2.0,6.0,1160.0,53
9,SPB-20102,2019-11-11 9:45,646,장한평역 1번출구 (국민은행앞),8.0,2019-11-11 10:17,3,중랑센터,7.0,30.0,1060.0,54
10,SPB-10000,2019-11-12 8:35,646,장한평역 1번출구 (국민은행앞),8.0,2019-11-12 8:44,3,중랑센터,2.0,8.0,1300.0,30
11,SPB-20145,2019-11-13 8:30,646,장한평역 1번출구 (국민은행앞),9.0,2019-11-13 8:38,3,중랑센터,2.0,NaN,1060.0,34
12,SPB-19057,2019-11-13 8:55,646,장한평역 1번출구 (국민은행앞),4.0,2019-11-13 9:08,3,중랑센터,7.0,11.0,NaN,57
13,SPB-19645,2019-11-14 9:44,646,장한평역 1번출구 (국민은행앞),NaN,2019-11-14 10:01,3,중랑센터,7.0,16.0,1140.0,59
14,SPB-21851,2019-11-14 9:33,646,장한평역 1번출구 (국민은행앞),10.0,2019-11-14 10:02,3,중랑센터,2.0,28.0,1220.0,51
15,SPB-13973,2019-11-15 8:42,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-15 8:50,3,중랑센터,2.0,6.0,1370.0,32
16,SPB-22311,2019-11-18 8:32,646,장한평역 1번출구 (국민은행앞),6.0,2019-11-18 8:39,3,중랑센터,2.0,NaN,1350.0,31
17,SPB-02270,2019-11-18 8:49,646,장한평역 1번출구 (국민은행앞),4.0,2019-11-18 9:01,3,중랑센터,7.0,11.0,1350.0,31
18,SPB-23659,2019-11-21 8:36,646,장한평역 1번출구 (국민은행앞),NaN,2019-11-21 8:44,3,중랑센터,2.0,6.0,1130.0,33
19,SPB-23497,2019-11-21 8:50,646,장한평역 1번출구 (국민은행앞),2.0,2019-11-21 9:04,3,중랑센터,7.0,13.0,1330.0,32
21,SPB-21810,2019-11-25 8:41,646,장한평역 1번출구 (국민은행앞),5.0,2019-11-25 8:49,3,중랑센터,2.0,7.0,1310.0,50
22,SPB-05857,2019-11-26 8:40,646,장한평역 1번출구 (국민은행앞),6.0,2019-11-26 8:48,3,중랑센터,2.0,NaN,1380.0,41
24,SPB-20076,2019-11-28 8:37,646,장한평역 1번출구 (국민은행앞),6.0,2019-11-28 8:44,3,중랑센터,2.0,5.0,1070.0,51

In [22]:
df.loc[df['대여소번호']==646]

,자전거번호,대여일시,대여소번호,대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리,나이
0,SPB-23220,2019-11-01 8:48,646,장한평역 1번출구 (국민은행앞),3.0,2019-11-01 9:01,3,중랑센터,7.0,12.0,1100.0,50
1,SPB-16216,2019-11-04 8:38,646,장한평역 1번출구 (국민은행앞),2.0,2019-11-04 8:56,3,중랑센터,2.0,7.0,1420.0,31
2,SPB-21097,2019-11-04 8:46,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-04 8:57,3,중랑센터,7.0,10.0,NaN,32
3,SPB-22292,2019-11-05 8:34,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-05 8:45,3,중랑센터,NaN,10.0,1380.0,21
5,SPB-18401,2019-11-06 8:52,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-06 9:09,3,중랑센터,7.0,11.0,1350.0,30
6,SPB-18350,2019-11-06 8:35,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-06 9:10,3,중랑센터,2.0,9.0,1390.0,26
8,SPB-20220,2019-11-11 8:35,646,장한평역 1번출구 (국민은행앞),2.0,2019-11-11 8:42,3,중랑센터,2.0,6.0,1160.0,53
9,SPB-20102,2019-11-11 9:45,646,장한평역 1번출구 (국민은행앞),8.0,2019-11-11 10:17,3,중랑센터,7.0,30.0,1060.0,54
10,SPB-10000,2019-11-12 8:35,646,장한평역 1번출구 (국민은행앞),8.0,2019-11-12 8:44,3,중랑센터,2.0,8.0,1300.0,30
11,SPB-20145,2019-11-13 8:30,646,장한평역 1번출구 (국민은행앞),9.0,2019-11-13 8:38,3,중랑센터,2.0,NaN,1060.0,34
12,SPB-19057,2019-11-13 8:55,646,장한평역 1번출구 (국민은행앞),4.0,2019-11-13 9:08,3,중랑센터,7.0,11.0,NaN,57
13,SPB-19645,2019-11-14 9:44,646,장한평역 1번출구 (국민은행앞),NaN,2019-11-14 10:01,3,중랑센터,7.0,16.0,1140.0,59
14,SPB-21851,2019-11-14 9:33,646,장한평역 1번출구 (국민은행앞),10.0,2019-11-14 10:02,3,중랑센터,2.0,28.0,1220.0,51
15,SPB-13973,2019-11-15 8:42,646,장한평역 1번출구 (국민은행앞),1.0,2019-11-15 8:50,3,중랑센터,2.0,6.0,1370.0,32
16,SPB-22311,2019-11-18 8:32,646,장한평역 1번출구 (국민은행앞),6.0,2019-11-18 8:39,3,중랑센터,2.0,NaN,1350.0,31
17,SPB-02270,2019-11-18 8:49,646,장한평역 1번출구 (국민은행앞),4.0,2019-11-18 9:01,3,중랑센터,7.0,11.0,1350.0,31
18,SPB-23659,2019-11-21 8:36,646,장한평역 1번출구 (국민은행앞),NaN,2019-11-21 8:44,3,중랑센터,2.0,6.0,1130.0,33
19,SPB-23497,2019-11-21 8:50,646,장한평역 1번출구 (국민은행앞),2.0,2019-11-21 9:04,3,중랑센터,7.0,13.0,1330.0,32
21,SPB-21810,2019-11-25 8:41,646,장한평역 1번출구 (국민은행앞),5.0,2019-11-25 8:49,3,중랑센터,2.0,7.0,1310.0,50
22,SPB-05857,2019-11-26 8:40,646,장한평역 1번출구 (국민은행앞),6.0,2019-11-26 8:48,3,중랑센터,2.0,NaN,1380.0,41
24,SPB-20076,2019-11-28 8:37,646,장한평역 1번출구 (국민은행앞),6.0,2019-11-28 8:44,3,중랑센터,2.0,5.0,1070.0,51

In [25]:
df.loc[df['대여소번호']==646]['대여소번호'].unique()

array([646], dtype=int64)

In [26]:
df['대여소번호'].unique()

array([ 646,  512,    3,  529,  419,  911,  108,  199,  102,  101,  120,
        106,  421,  956,  104,  103,  152,  125,  113,  148,  226,  128,
        267,  115,  826,  391,  105,  137,  154,  409,  116,  151,  272,
        175,  182, 3102,  112,  129,  228,  139, 2103,  183,  114,  440,
        184,  196,  124,  119,  264,  438,  203,  432,  121,  109,  306,
        111,  181,  427,  247,  224,  410,  413, 1925,  141,  205,  408,
        225,  186,  284,  134, 1998,  403,  346,  245,  623, 1160],
      dtype=int64)

In [28]:
df.loc[df['대여소번호']==646,['대여거치대']].isnull().sum()
# 대여소번호가 646인 대여기치대의 nan값은 2개

대여거치대    2
dtype: int64

In [31]:
df.loc[df['대여소번호']==646,['대여거치대']].fillna(1000)

     대여거치대
0      3.0
1      2.0
2      1.0
3      1.0
5      1.0
6      1.0
8      2.0
9      8.0
10     8.0
11     9.0
12     4.0
13  1000.0
14    10.0
15     1.0
16     6.0
17     4.0
18  1000.0
19     2.0
21     5.0
22     6.0
24     6.0

In [42]:
df[df['대여소번호']==646][['대여거치대']].fillna("값 변경")

   대여거치대
0    3.0
1    2.0
2    1.0
3    1.0
5    1.0
6    1.0
8    2.0
9    8.0
10   8.0
11   9.0
12   4.0
13  값 변경
14  10.0
15   1.0
16   6.0
17   4.0
18  값 변경
19   2.0
21   5.0
22   6.0
24   6.0

In [46]:
df[df['대여소번호']==646]['대여거치대'] =\
    df[df['대여소번호']==646]['대여거치대'].fillna("값 변경")

C:\Users\user\AppData\Local\Temp\ipykernel_2088\2825851946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df['대여소번호']==646]['대여거치대'] =\

In [47]:
df.loc[df['대여소번호']==646, '대여거치대'] =\
    df[df['대여소번호']==646]['대여거치대'].fillna("값 변경")

C:\Users\user\AppData\Local\Temp\ipykernel_2088\2812748761.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[3.0 2.0 1.0 1.0 1.0 1.0 2.0 8.0 8.0 9.0 4.0 '값 변경' 10.0 1.0 6.0 4.0
 '값 변경' 2.0 5.0 6.0 6.0]' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[df['대여소번호']==646, '대여거치대'] =\

In [48]:
df[df['대여소번호']==646]['대여거치대']

0      3.0
1      2.0
2      1.0
3      1.0
5      1.0
6      1.0
8      2.0
9      8.0
10     8.0
11     9.0
12     4.0
13    값 변경
14    10.0
15     1.0
16     6.0
17     4.0
18    값 변경
19     2.0
21     5.0
22     6.0
24     6.0
Name: 대여거치대, dtype: object